body {
	width: 960px;
	margin: 0 auto;
	padding: 0 px;
	background-color: mintcream;
	font-family: "Josefin Sans", "Trebuchet MS", Arial, "sans-serif";
	font-size: 16px;
	padding: 10px;
}
section {
	float:left;
	width:;
	height:;
	padding: 10px;
}
h1 {
font-family: Georgia, serif;
font-size: 40px;
text-align:center;
color: indianred;
background-color:;
}

h2 {
font-family: Georgia, serif;
font-size: 26px;
text-align:left;
color: navy;	
}

h3 {
font-family: Georgia, serif;
font-size: 20px;
text-align:left;
color: navy;	
}

h4 {
font-family: Georgia, serif;
font-size: 18px;
text-align:left;
color: navy;	
}
	
nav {
	border: 2px dotted #0088dd;
	background-color: white;
	margin-top:;
	margin-bottom:;
	margin-left:;
	margin-right:;
	padding:10px;
	text-align:center;
}

nav li {
	display: inline;
	margin-right: 150px;
	padding: 5px;
	border:;
	color:;
	text-decoration:;
}

a:link {
  text-decoration:;
  font-size:;
  font-weight: bold;
  color: indianred;
  display: inline-block;
}
a:visited {
  text-decoration:;
  font-size:;
  font-weight:;
  color: navy;
  display:;
}
a:hover {
  text-decoration:;
  font-size:20px;
  font-weight: bold;
  color: indianred;
  display:;
}
